{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Bienvenido a Tu Tecnico.com</h1>
      <p class="lead text-muted">Donde buscas y encuentras ayuda a tus problemas.</p>
      <p>
        <a href="https://www.homify.com.mx/profesionales/carpinteros-en-le%C3%B3n-guanajuato?search_country=M%C3%A9xico" class="btn btn-primary my-2">¡Encuentra ayuda!</a>
        <a href="http://127.0.0.1:8000/registro" class="btn btn-secondary my-2">¡Ofrece tus servicios!</a>
      </p>
    </div>
  </section>
  
      </div>
    </div>
  </div>

{% endblock %}